* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Nunito, sans-serif;
}

.logo,
.details,
h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
}

.header {
  background-color: rgb(157, 48, 46);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 25px;
}

.section-1 {
  background-color: #ebedec;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.landing {
  width: 300px;
  margin: 0 40px 0 0;
}

.landing h1 {
  font-size: 36px;
  margin: 0 0 5px 0;
}

.landing p {
  font-size: 20px;
  margin: 0 0 20px 0;
  color: rgb(55, 68, 81);
}

.main-image img {
  width: 400px;
  border-radius: 7px;
  margin: 0 auto 0 0;
}

.section-2 {
  background-color: rgb(146, 151, 149);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.details {
  color: white;
  font-size: 36px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-image img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 7px;
}

.card-description {
  text-align: center;
  max-width: 150px;
  margin: 10px 0 0 0;
  color: white;
}

.section-3 {
  background-color: rgb(235, 237, 236);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.quote {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote-text,
.quote-author {
  font-size: 20px;
}

.quote-author {
  align-self: flex-end;
  font-weight: 700;
  color: rgb(55, 68, 81);
}

.section-4 {
  background-color: rgb(146, 151, 149);
  padding: 40px;
  display: flex;
  flex: 1;
}

.banner {
  background-color: #ebedec;
  padding: 30px 50px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  border-radius: 7px;
}

.banner button {
  align-self: center;
  margin: 0 0 0 auto;
}

.banner h2,
.banner p {
  margin: 0 0 5px 0;
}

.banner p {
  color: rgb(55, 68, 81);
}

.footer {
  background-color: rgb(157, 48, 46);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 15px;
  font-weight: 700;
}

.navigation ul a:hover {
  color: #ebedec;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: rgb(157, 48, 46);
  color: white;
  font-weight: 700;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
}

button:hover {
  color: #ebedec;
}
